# Copyright (c) 2019 Thomas Heller
#
# SPDX-License-Identifier: BSL-1.0
# Distributed under the Boost Software License, Version 1.0. (See accompanying
# file LICENSE_1_0.txt or copy at http://www.boost.org/LICENSE_1_0.txt)

Checks: >
    -*,
    bugprone-*,
    -bugprone-assert-side-effect,
    -bugprone-exception-escape,
    -bugprone-forward-declaration-namespace,
    -bugprone-macro-parentheses,
    -bugprone-branch-clone,
    -bugprone-easily-swappable-parameters,
    -bugprone-reserved-identifier,
    modernize-use-nullptr,
    misc-assert-side-effect
    misc-dangling-handle
    misc-forwarding-reference-overload
    misc-move-constructor-init
    misc-move-forwarding-reference
    misc-multiple-statement-macro
    misc-non-copyable-objects
    misc-use-after-move
    misc-virtual-near-miss
WarningsAsErrors: '*'
HeaderFilterRegex: '.*hpx.*'
CheckOptions:
  - key: bugprone-assert-side-effect.CheckFunctionCalls
    value: 1
  - key: bugprone-assert-side-effect.AssertMacros
    value: 'HPX_ASSERT'
