# Copyright (c) 2012 Bryce Adelstein-Lelbach
#
# Distributed under the Boost Software License, Version 1.0. (See accompanying
# file LICENSE_1_0.txt or copy at http://www.boost.org/LICENSE_1_0.txt)

*.pyc
/build
.DS_Store
.gitignore
.ptp-sync-folder
/Dockerfile
/.dockerignore
apex
