# Copyright (c) 2026 The STE||AR Group
#
# SPDX-License-Identifier: BSL-1.0
# Distributed under the Boost Software License, Version 1.0. (See accompanying
# file LICENSE_1_0.txt or copy at http://www.boost.org/LICENSE_1_0.txt)

name: Check Circular Dependencies

on:
  pull_request:
  push:
    branches-ignore:
      - gh-pages
      - trying
      - staging
    tags-ignore:
      - stable

jobs:
  check-circular-deps:
    runs-on: ubuntu-latest
    container: stellargroup/build_env:17

    steps:
    - uses: actions/checkout@v6
    - name: Check circular dependencies
      shell: bash
      run: |
        # Ignore compatibility headers (the last cut -c3- is to remove a
        # leading ./ in path names)
        cpp-dependencies \
            --dir libs \
            --ignore $(find libs -type d -wholename '*/include_compatibility' | cut -d'/' -f2-) \
            --graph-cycles /tmp/circular_deps.dot
        dot /tmp/circular_deps.dot -Tsvg -o /tmp/circular_deps.svg
        if [[ $(wc -l /tmp/circular_deps.dot | awk '{print $1}') -gt 2 ]]; then exit 1; fi

    - name: Upload Circular Dependency Graph
      uses: actions/upload-artifact@v6
      with:
        name: circular-deps
        path: |
          /tmp/circular_deps.dot
          /tmp/circular_deps.svg
