# Copyright (c) 2026 The STE||AR Group
#
# SPDX-License-Identifier: BSL-1.0
# Distributed under the Boost Software License, Version 1.0. (See accompanying
# file LICENSE_1_0.txt or copy at http://www.boost.org/LICENSE_1_0.txt)

name: Check Formatting

on:
  push


jobs:
  clang-format:
    runs-on: ubuntu-latest
    container: stellargroup/build_env:17

    steps:
    - uses: actions/checkout@v6

    - name: Clang Format
      shell: bash
      run: |
        cd libs && shopt -s globstar # to activate the ** globbing
        
        clang-format-20 --version
        
        clang-format-20 -i **/*.{cpp,hpp}
        
        cd ../examples
        
        clang-format-20 -i **/*.{cpp,hpp}
        
        cd ../tests
        
        clang-format-20 -i **/*.{cpp,hpp}
        
        pwd
        ls -a
        if ! git diff --exit-code > /tmp/modified_clang_format_files.txt; then
          echo "The following files are not properly clang-formatted:"
          cat /tmp/modified_clang_format_files.txt
          exit 1
        fi

    - name: Upload Clang Format Artifacts
      if: success() || failure()
      uses: actions/upload-artifact@v6
      with:
        name: modified-clang-format-files
        path: /tmp/modified_clang_format_files.txt

  cmake-format:
    runs-on: ubuntu-latest
    container: stellargroup/build_env:17

    steps:
    - uses: actions/checkout@v6
    
    - name: CMake Format
      shell: bash
      run: |
        cd ../ && shopt -s globstar # to activate the ** globbing
        
        cmake-format --version
        
        cmake-format -i **/*.cmake **/CMakeLists.txt
        
        pwd
        ls -a
        if ! git diff --exit-code > /tmp/modified_cmake_format_files.txt; then
          echo "The following files are not properly cmake-formatted:"
          cat /tmp/modified_cmake_format_files.txt
          exit 1
        fi

    - name: Upload CMake Format Artifacts
      if: success() || failure()
      uses: actions/upload-artifact@v6
      with:
        name: modified-cmake-format-files
        path: /tmp/modified_cmake_format_files.txt

  spell-check:
    runs-on: ubuntu-latest
    container: stellargroup/build_env:17
    if: github.event_name == 'pull_request'

    steps:
    - uses: actions/checkout@v6
    
    - name: Spell Check
      shell: bash
      run: |
        cd ../ && \
    
        codespell --version && \
    
        codespell --ignore-words tools/.codespell_whitelist --skip='*.h5,*.png' $(git diff --name-only origin/master...) > /tmp/spelling_suggestions.txt
    
        if [ -s /tmp/spelling_suggestions.txt ]; then
            echo "The following spelling suggestions were found:"
            cat /tmp/spelling_suggestions.txt
            exit 1
        fi

    - name: Upload Spell Check Artifacts
      if: success() || failure()
      uses: actions/upload-artifact@v6
      with:
        name: spelling-suggestions
        path: /tmp/spelling_suggestions.txt
