# Copyright (c) 2024 Vedant Nimje
#
# SPDX-License-Identifier: BSL-1.0
# Distributed under the Boost Software License, Version 1.0. (See accompanying
# file LICENSE_1_0.txt or copy at http://www.boost.org/LICENSE_1_0.txt)

name: Linux CI (Debug) with Nanobench Benchmark Test

on: [pull_request]


jobs:
  build:
    runs-on: ubuntu-latest
    container: stellargroup/build_env:17

    steps:
    - uses: actions/checkout@v5
    - name: Configure
      shell: bash
      run: |
          cmake \
              . \
              -Bbuild \
              -GNinja \
              -DCMAKE_BUILD_TYPE=Debug \
              -DHPX_WITH_MALLOC=system \
              -DHPX_WITH_FETCH_ASIO=ON \
              -DHPX_WITH_EXAMPLES=ON \
              -DHPX_WITH_TESTS=ON \
              -DHPX_WITH_NANOBENCH=ON \
              -DHPX_WITH_TESTS_MAX_THREADS_PER_LOCALITY=2 \
              -DHPX_WITH_CHECK_MODULE_DEPENDENCIES=On
    - name: Build
      shell: bash
      run: |
          cmake --build build/ --target tests.performance.modules.segmented_algorithms.minmax_element_performance
    - name: Test
      shell: bash
      run: |
          cd build
          ./bin/minmax_element_performance_test

    - name: Test with detailed output
      shell: bash
      run: |
          cd build
          ./bin/minmax_element_performance_test --detailed_bench
