# Copyright (c) 2020 ETH Zurich
#
# SPDX-License-Identifier: BSL-1.0
# Distributed under the Boost Software License, Version 1.0. (See accompanying
# file LICENSE_1_0.txt or copy at http://www.boost.org/LICENSE_1_0.txt)

name: Linux CI (Debug) with HWLoc fetch

on: 
  push: 
    branches: [cmake_options] 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install Boost
      run: sudo apt install libboost-all-dev

    - name: Configure
      shell: bash
      run: |
          cmake \
              . \
              -Bbuild \
              -GNinja \
              -DCMAKE_BUILD_TYPE=Debug \
              -DHPX_WITH_MALLOC=system \
              -DHPX_WITH_FETCH_ASIO=ON \
              -DHPX_WITH_FETCH_HWLOC=ON \
              -DHPX_WITH_TESTS=ON \
              -DHPX_WITH_CHECK_MODULE_DEPENDENCIES=On

    - name: Build
      shell: bash
      run: |
          cmake --build build --target all
          cmake --build build --target examples

    - name: Test
      shell: bash
      run: |
          cd build
          ctest \
            --output-on-failure \
            --tests-regex tests.examples \
            --exclude-regex tests.examples.transpose.transpose_block_numa
